body {
    margin: 0;
}

.main-container {
    background-color: #800000;
    height: 100vh;
    font-family: Lato, sans-serif;
}

.login-container {
    height: 520px;
    background-color: white;
    width: 35%;
    margin: 0 auto; 
    top: 18%; 
    left: 32%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.login {
    position: absolute; 
    width: 350px; 
    height: 300px;
    padding: 25px;
}

.logo {
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#login-logo {
    height: 100px; 
    display: inline;
}

.email {
    height: 70px; 
    padding: 20px; 
    color: #7e6565; 
}

.password {
    height: 70px; 
    padding: 0 20px 20px 20px; 
    color: #800000;
}

.button-container {
    height: 30px;
    padding: 10px 20px 20px 20px;
    color: #800000;
}

.contact-admin {
    padding: 0 20px 20px 20px; 
    width: 315px; 
    font-size: 14px; 
    text-align: center;
}

#signup-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #800000; 
    color: white; 
    border: none; 
    height: 40px; 
    width: 315px; 
    padding: 10px 20px 30px 20px; 
    font-weight: bold; 
    font-size: 16px; 
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}

label {
    font-style: italic
}

input {
    display: block; 
    height: 25px; 
    width: 300px; 
    padding: 5px; 
    border: 1px solid #800000; 
    border-radius: 2%;
}

.contact-admin a {
    color: #800000;
}

@media screen and (max-width: 600px) {
    .login {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .main-container {
        width: 100%;
        height: 750px;
        padding: 20px 0;
    }

    .login-container {
        width: 90%;
        margin: 0 auto; 
        top: 0;
        left: 0;
        position: relative;
        margin-top: 30px;
        height: 530px;
    }

    #login-logo {
        height: 70px;
    }

    input {
        width: 80%;
        height: 18px;
    }

    #signup-button {
        height: 30px;
        width: 80%;
        padding: 7px 16px 25px  16px;
    }

    .contact-admin {
        font-size: 14px;
        padding: 0;
    }

    .email, .major, .yeargroup, .password, .confirmpassword, .fullname {
        height: 70px; 
        padding: 0 0 20px 20px; 
        color: #800000;
    }
    
    .button-container {
        padding: 0 0 20px 20px;
        width: 100%;

    }
}

@media screen and (min-width: 750px) and (max-width: 800px) {
    .login-container {
        top: 8%;
        left: 25%;
        width: 50%;
    }

    .main-container {
        height: 100vh;
    }
}

@media screen and (min-width: 2000px) {
    .main-container {
        height: 100vh;
    }
    
}