body {
    margin: 0;
    font-family: Lato, sans-serif;
}

nav {
    height: 100px;
}

.navbar div {
    display: inline-block;
    width: 700px;
    background-color: blue;
    height: 300px;
}
 
nav img {
    height: 100px;
    display: inline;
    
}

.navbar {
    display: inline-flex;
    height: 200px;
    margin: 0 auto;
}

nav span {
    float: right;
    margin: 30px 40px 0 0;

}

nav span a {
    padding: 20px;
    text-decoration: none;
    color: #800000c9;
}

nav span a:hover {
    border-bottom: 3px solid #800000;
    color: #570000;
}

.navbar input,.navbar button,.navbar span {
    margin-top: 53px;
}

.navbar input {
    height: 30px;
    border: 2px solid #800000;
    border-right: none;
}

.navbar input {
    width: 85.2%;
   
}

.navbar button {
    float: right;
    width: 13.9%;
    border: none;
    background-color: #800000;
    color: white;
    font-size: 17px;
    cursor: pointer;
    height: 37px;
}

.footer-container {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800000;
    color: white;
}

footer a, footer span {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    text-align: center;
    
}

footer img {
    height: 100px;
}

section.images {
    display: flex;
    flex-direction: row;
}

section.images div {
    width: 33.33%;
}

section.images div img {
    
    height: 500px;
}

.image1 {
    background-image: url(../images/image2.jpg);
}

.image2 {
    background-image: url(../images/image3.jpeg);
}

.image3 {
    background-image: url(../images/library2.jpg);
}

.image1, .image2, .image3 {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #949494;
}